# VS Code
.vscode/
!.vscode/settings.json
!.vscode/PSScriptAnalyzerSettings.psd1

# PowerShell
*.ps1xml
*.pssc

# OS
Thumbs.db
.DS_Store

# Project
release/
*.zip
*.log
ytdll-release.zip
estructura.txt
Pruebas_01.ps1
tools.ps1
_github_token.ps1
_limpiadorderelease.ps1

# Temporal
[Cc]:/Temp/ytdll/
[Cc]:/Temp/icos/
__pycache__/
*.pyc

# Chocolatey
[Cc]:/Choco/
